.category-container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.category-container h2 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
    text-align: center;
    font-weight: bold;
}

.category-grid {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    justify-content: center;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-item button {
    width: 100%;
    padding: 15px;
    font-size: 1.2rem;
    background-color: #008080;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.category-item button:hover {
    background-color: #005959;
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.error-message {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .category-container {
        padding: 10px;
    }

    .category-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 15px;
    }

    .category-item button {
        font-size: 1rem;
        padding: 10px;
    }

    .category-container h2 {
        font-size: 2rem;
    }
}
