.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.pagination button {
    background-color: #008080;
    border: none;
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.pagination button.active {
    background-color: #06c5c5; 
}

.pagination button:hover {
    background-color: #023b3b; 
}

@media (max-width: 768px) {
    .pagination {
        flex-wrap: wrap;
        gap: 5px;
    }

    .pagination button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
